/* Public
---------------------------------*/
body {
    color: #444;
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.85rem;
}

.navbar-nav>li>a:hover {
    color:  #33bbff;
}

btn-lg, .btn-group-lg>.btn {
    border-width: 2px;
    height: 40px;
    font-size: 14px;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #3D96D5;
    border-color: #3D96D5;
}

#footer-top h3 {
    font-weight:bold;
    color: black;
}

#footer-top .block {
    padding: 0 20px 50px 20px;
}

#footer {
    background-color:  #7CC7ED;
}

#footer-top a {
    color:black;
}


#footer #copyright {
    background-color:   #e6e6e6;
}

.social-networks li a {
    border: 1.5px solid  #56BBE7;
}

.page-title {
    color:#fff;
    font-size: 2em;
    text-transform: none;
    font-family: 'Baloo Bhaijaan', cursive;
    margin:0;
    
}

.breadcrumb {
    color:#fff;
}

.footer-p p, .footer-p address, .footer-p a {
    color:black;
    font-size: 1.5rem;
}

/* Aboutus
---------------------------------*/
.about-us {
    padding-right: 75px;
    padding-top:25px;
}
.contactus p {
    padding-top: 15px;
   
}

.about-us p {
    font-size: 2.5rem;
}

.about-us li {
    font-size: 2rem;
}
.sidebar.gray{
    background-color: #fff;
    padding-top:140px;
}
.aside {

    border: 1px solid #888;
    border-radius: 1em;
    box-shadow: 10px 10px 5px;
    margin: 80px 20px;
}

.aside p {
    font-size: 3rem;
    font-family: 'Baloo Bhaijaan', cursive;
    margin: 20px;
    color:#56BBE7;
}

.sidebar h2 {
    font-weight: bold;
    font-size: 1.75em;
    padding-bottom: 1em;
}


/* Contactus
---------------------------------*/

.contactmessage span {
    line-height: 1.75em;
    display: block;
    overflow: hidden;
    color: #666;
    font-size: 1.15em;
}


.contactmessage h3 {
    font-size: 1.15em;
    font-weight: 400;
    float: left;
    width: 7em;
    margin-right: 0.5em;
    line-height: 1.75em;
    font-family: 'Baloo Bhaijaan', cursive;
    text-transform: uppercase;
    
}


.googlemap iframe {
    width: 100%;
    padding: 0.5em;
    height: 20em;
    margin: 1em 1em 1em 0;
    border:none;
    
}

/* OurTeamPge
---------------------------------*/

.img-center {
	margin: 0 auto;
}

.team-teaser {
    min-height: 300px;
    padding:20px 0;
}
.team-teaser p{
    padding-top:20px;
}

.teamer-img:hover {
    transform: scale(1.2,1.2);
}
.teamer-img  {
    transition: transform 0.4s ease;
}

.our-team {
    height:500px;
}

.our-team p {
    text-align: left;
    font-size: 1.5rem;
}

/* ActivityCenterPage
---------------------------------*/
.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('../images/aheader2.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 55px;
  }

  .business-header h1 {
      color:#fff;
      font-weight:bold;
      font-size: 4em;
      text-transform: none;
      margin-top: 100px;
      font-family: 'Baloo Bhaijaan', cursive;

  }
  
  .card {
    height: 100%;
  }

  .card-body{
      padding-top: 15px;
  }
  .activity {
      text-transform: none;
      font-weight:bold;
      padding-bottom:10px;

  }

  .card-img {
      position: relative;
      width: 300px;
      height: 200px;
  }
  
  .card-shadow {
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: block;
    text-align: center;
  }

  .card-shadow p {
    font-size: 1em;
    position: absolute;
    left: 0;
    width: 100%;
    top: 43%;
    text-align: center;
    color: #ffffff;
    background-color: #3D96D5;
    padding: 0.4em 0;
    border-radius: 0.5em;
    display: block;
    z-index: 5;
    opacity: 0;
  }

.card-shadow, .card-shadow:hover p {
    display: block;
    opacity: 1;
}
.card-shadow:hover {
    box-shadow: inset 0px 0px 0px 148px rgba(85, 85, 85, 0.80);
}

.card-margin {
    margin-bottom: 50px;
    
}

.card-img-top {
    border-radius: 0.5em;
}

.activity-gallery {
    margin-bottom: 20px;
}

.activity-gallery img:hover {
    transform: scale(1.1,1.1);
}
.activity-gallery img {
    transition: transform 0.4s ease;
}



/* HomePage
---------------------------------*/
.slider-button:hover{
    background-color: transparent;
    border-color: #3D96D5;
    color: #3D96D5;
}

#slide1, #slide2, #slide3 {
    height:500px;
}

.home-main{
    padding-top: 0;
    padding-right:25px;
    
}

.home-main p {
    font-size: 20px;
    padding-bottom: 20px;
    color:rgb(32, 151, 202);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.home-main h1 {
    color:rgb(32, 151, 202);
}

.home-side{
    padding-top: 0;
}

.home-philosophy {
    background-color: #F5F5F5;
    padding: 0 75px 50px 75px;
    margin-top: 100px;
    border-radius: 0.5em;
    border: 1px solid rgb(32, 151, 202);
}

nav .current {
    border-bottom: 2px solid #3D96D5;
}
.navbar-nav {
   margin: 25px 10px 0 70px
}

.navbar-nav li{
    margin: 0 5px;
    text-align: center;
 }

 .navbar-margin {
     margin-bottom: -15px;
 }
 
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
   color:#3D96D5;
 }

 .btn-default, .btn-default:focus {
     border-color: #fff;
     color:yellow;
 }



 /* Secondary Page
---------------------------------*/

.second-aside {
    background-color: #F5F5F5;
    padding-bottom:50px;
    padding-top: 100px;
    height:120vh; 
}

.second-aside .current {
   color: #56BBE7;
}
.second-aside li{
    list-style-type: none;
    padding: 20px 0 5px 0;
    margin:0 50px;
    border-bottom: 3px solid #fff;;
   

}

.second-aside li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    color:#222;
    font-weight:bold;
}

.second-aside li a:hover {
    color:#3D96D5;
}
.second-aside li a:hover {
    text-decoration: none;
}




.second-aside img {
    width:100%;
    padding:40px 20px;
}

.second-header {
    text-transform:none;
    border-bottom: 2px solid #3D96D5;
    font-family:Verdana, Arial, sans-serif;
    font-size:25px;
    color:#888;
}

.second-aside h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align:center;
    color:#56BBE7;
    padding-bottom: 20px;
    font-weight: bold;

}

ul.subnav {
    padding-left: 0;
}

 /* Blog Page
---------------------------------*/
.blog-side {
    background-color: #F5F5F5;
    padding-bottom:50px;
    padding-top:10px;
    
}

